.notFound {
  color: black;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.notFound img {
  max-width: 50%;
}

.notFound p {
  font-size: 2rem;
}

.linkHolder {
  margin: 10px;
}

.linkHolder i {
  margin: 5px;
}

.notFound a {
  font-size: 1.2rem;
  color: #000;
}

.notFound a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .notFound p {
    font-size: 1.8rem;
  }
}
